<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ADShow.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>BackgroundWithNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CoreTextMagazine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Master-Detail With Slide.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>PageViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Player.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>RegularExpression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Timer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5366AFC1C586DD30045559A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A553DE3E1C97BE6400B1A766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A56553231CB4EC3000B806A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A57A5E801C056463006EFD85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58674D01C328F6300C82358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A59E01211C8EBA87007A1125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A59E01421C8EBAAB007A1125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5DA1D241C0055E700521A7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5E185A01CD300AF0053CD33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5E185BB1CD301030053CD33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5EDFEB01BC64F1E00376B71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5EDFECE1BC64F6C00376B71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
